# fly.toml app configuration file generated for plaqode-api-v1 on 2026-01-04T03:01:46+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'plaqode-api-v1'
primary_region = 'lhr'

[env]
  ALLOWED_ORIGINS = "https://plaqode.com,https://app.plaqode.com,https://card.plaqode.com,https://www.plaqode.com,http://localhost:3000,http://localhost:3001"

[http_service]
  internal_port = 3005
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "45s"
  interval = "15s"
  method = "GET"
  timeout = "5s"
  path = "/health"

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
